@import '../../Variables.sass'

.Shop
  .Item 
    width: 50%
    margin: 25px auto
    padding: 15px 
    border-radius: 5px
    border: 1px solid $darkBlue
    display: flex
    align-items: center
    justify-content: baseline
  .ItemInner
    display: flex
    justify-content: baseline
    align-items: center
    flex-grow: 1
    .Img
      width: 75px
      span
        font-size: 50px
    .TextContent
      span
        color: $darkBlue
