@import '../../Variables.sass'
  
.Panel
  background: $blue
  color: $white
  padding: 20px 20px
  display: flex
  justify-content: center
  align-items: center
  font-size: 20px
  a
    margin: 0 20px
    &:hover 
      color: darken($white, 20%)