@import '../../Variables.sass'
  
.Quizes
  color: #252525
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-top: 0px

.Quizes a 
  font-size: 30px 
  text-align: center
  margin: 15px 0
  &:hover 
    color: #8ab7c7
  span
    color: $darkBlue


@media screen and ( max-width: 768px )
  .Quizes 
    padding-top: 50px
    a
      color: $darkBlue
      font-size: 22px