@import './fonts.sass'

html 
  background: #e5f0fa

body 
  margin: 0
  font-family: 'Roboto'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #252525
  font-size: 18px

a 
  text-decoration: none
  color: inherit

h1,
h2 
  color: #252525
  text-align: center

.container 
  max-width: 1200px
  padding-left: 20px
  padding-right: 20px
  padding-top: 70px
  padding-bottom: 50px
  margin: 0 auto

@media screen and ( max-width: 768px )
  h1
    font-size: 22px
  